.container{
    background-color: aquamarine;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex: flow; */

    justify-content: center;
    align-items: center;

    align-content: flex-start;

}

.container div{
    background-color: rgba(17, 16, 16, 0.5);
    color: white;
    width: 120px;
    height: fit-content;
    /* height: 80px; */
    font-size: 16px;
    margin: 5px;
}